@model IEnumerable<cad_funcionarios.Models.Funcionario>

@{
    ViewData["Title"] = "Cadastro de Funcionários";
}

<div class="d-flex justify-content-between flex-wrap align-items-center">
<p>
    <input type="button" class="btn btn-primary" value="Cadastrar Funcionário" onclick="location.href='@Url.Action("Create", "Funcionarios")'" />
</p>
<p>
    @using(Html.BeginForm())
    {
        <a>Nome do funcionário: </a>
        @Html.TextBox("SearchString")
        <input type="submit" class="btn btn-secondary btn-sm" value="Pesquisar" />
        <input type="button" class="btn btn-light btn-sm" value="Limpar" onclick="location.href='@Url.Action("Index", "Funcionarios")'" />
    }
</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atividades)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @if (item.Atividades.Length >= 150)
                {
                    var display = item.Atividades.Substring(0, 150) + "...";
                    <text>@display</text>
                }
                else
                {
                    <text>@Html.DisplayFor(modea => item.Atividades)</text>
                }
            </td>
            <td class="d-flex flex-wrap justify-content-around">
                <a class="btn btn-light btn-sm m-1" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-light btn-sm m-1" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                <a class="btn btn-danger btn-sm m-1" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
